

h1{
    text-align: center;
    background-color: var(--md-sys-color-primary-light);
    color: var(--md-sys-color-on-primary-light)

}

dt{
    background-color: var(--md-sys-color-primary-light);
    color: var(--md-sys-color-on-primary-light);
    padding: 8px;
}

div{
    background-color: var(--md-sys-color-secondary-container-light);
    color: var(--md-sys-color-on-secondary-container-light);
}

.movie-title{
    color: var(--md-sys-color-on-primary-light)
}