
table{
    width:100%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

/*# is for id*/
#table_headline{
    background-color: #0aa37a;
    color: var(--md-sys-color-on-primary-light)
}
/*. is for class*/



/*: is for pseudo-classes*/
tr:nth-child(even){
    background-color: var(--md-sys-color-secondary-container-light);
}

body {
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/589/026/original/aesthetic-sage-green-background-free-vector.jpg');
}