
table{
    width:100%;
    border-collapse: collapse;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

/*# is for id*/
#table_headline{

    background: var(--md-sys-color-primary-light);
    border-color: var(--md-sys-color-primary-light);
    color: var(--md-sys-color-on-primary-light);
    box-shadow: 0 4px 8px 0 var(--md-sys-color-primary-light);
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0px;
    padding: 0;
}
/*. is for class*/



/*: is for pseudo-classes*/
tr:nth-child(even){
    background-color: var(--md-sys-color-secondary-container-light);
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://img.freepik.com/free-vector/blue-polygonal-shapes-background_1053-434.jpg');
}